
@{
    ViewBag.Title = "StartUpPage";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartUpPage</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div> 
        <h1>Start up</h1>
    </div>
</body>
</html>
